div.graph {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}

svg .sample_rect {
	fill: teal;
}

svg .sample_circle {
	fill: teal;
	stroke: red;
	stroke-width: 2
}

svg .sampl_ellipse {
	fill: teal;
	opacity: 0.5;
	stroke: red;
	stroke-width: 3;
	opacity: 0.5;
}

svg .sample_line {
	stroke: blue;
	strok-width: 2;
	opacity: 0.5;
}

svg>text {
	font-family: sans-serif;
}

svg .sample_text {
	fill: white;
	opacity: 0.8;
}

svg .advanced_text {
	fill: red;
	font-size: 11px;
}
